body {
    background-color: rgb(211, 225, 220);
    color:rgb(77, 78, 79)
}

.heading {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    height: 100px;
    width: 500px;
    border-style: none;
    margin: auto;
    font-size:9ch;
}

.leaderboard_title {
    background-color: transparent;
    border-style: none; 
    font-size: 35px;
    height: 100px;
    width: 300px;

}

.leaderboard_title:hover {
    border-style: double;
    border-color: rgb(52, 138, 136);
    border-radius: 10px;
}

.change_name {
    background-color: transparent;
    border-style: none;
    align-self: auto;
    font-size: 35px;
    display: none;
    border-color: transparent;
}
.leaderboard_title_change {
    height: 100px;
    width: 200px;
    border-color: transparent;
    font-size: 25px;
    padding: 0px;
    padding-inline: 10px;
}

.ok_change_btn {
    background-color: aliceblue;
    border-radius: 15px;
    height: 40px;
    width: 40px;
    font-size: 20px;
}

.error {
    display: none;
    font-size: 15px;
}

.contestant_empty_state {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    height: 200px;
    width: 500px;
    border-style: none;
    margin: auto;
    font-size:25px;
    padding-top: 10px;
}

.add_people_btn {
    background-color: aliceblue;
    border-radius: 15px;
    height: 40px;
    width: 150px;
    font-size: 20px;
}